body {
    margin: 0;
    background-color: #fdfdfd;
    background-image: linear-gradient(90deg, transparent 0px, #e673a2 0px, #e673a2 0px, transparent 0px),
    linear-gradient(#e8e7e7 1px, transparent 0px),
    linear-gradient(90deg, #e8e7e7 1px, transparent 0px);
    background-size: 100% 100%, 15px 15px, 15px 15px;
    background-position: 0 0, -1px -1px, -1px 1px;
}

#userImage, #userInfoBox {
    position: absolute;
    left: 20%;
}


#userInfoBox {
    left: 45%;
    top: 33%;
}

#userImage {
    width: 300px;
    height: 300px;
    top: 33%;
    bottom: 0; /* Расстояние снизу  */
}


#photoButonGroup {
    width: 250px;
    display: inline-block;
    top: 10px;
    left: 13%;
}

#infoButtonGroup {
    left: 18%;
    top: 40px;
}


* {
    box-sizing: border-box;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

label {
    padding: 5px 5px 5px 0;
    display: inline-block;
}

.container {
    border-radius: 5px;
    padding: 20px;
    height: 300px;
}

.col-25 {
    float: left;
    width: 10%;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 30%;
    margin-top: 6px;
}
