body {
    background-color: GhostWhite;
}

body {
    margin: 0;
    background-color: #fdfdfd;
    background-image: linear-gradient(90deg, transparent 98px, #e673a2 98px, #e673a2 300px, transparent 300px),
    linear-gradient(#e8e7e7 1px, transparent 0px),
    linear-gradient(90deg, #e8e7e7 1px, transparent 0px);
    background-size: 100% 100%, 15px 15px, 15px 15px;
    background-position: 0 0, -1px -1px, -1px 1px;
}


* {
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 230px;

}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

h2 {

    text-align: center;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.btn:hover {
    opacity: 1;
}